html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #2f3152;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px 24px;
}

strong#logo {
  grid-row: 1 / 2;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero {
  grid-row: 2 / 3;
  margin: 64px 0;
}

.hero img {
  width: 539.22px;
  max-width: 100%;
  height: auto;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.hero__description h1 {
  font-size: 3rem;
  max-width: 350px;
  font-family: "DM Mono", monospace;
}

.hero__description p {
  max-width: 328px;
  font-size: 1.125rem;
  line-height: 1.8;
}

.hero__description a.btn {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;

  width: max-content;
  padding: 20px;
  border: 1px solid #2f3152;
  border-radius: 4px;
  transition: 300ms;
}

.hero__description a.btn:hover {
  color: #fff;
  background-color: #2f3152;
}

footer {
  grid-row: 3 / 4;
  text-align: center;
}

footer a {
  transition: 300ms;
}

footer a:hover {
  color: coral;
}

@media (min-width: 768px) {
  .container {
    padding: 40px 60px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 180px 0;
  }

  .hero img {
    /* justify-self: center; */
  }

  .hero__description h1 {
    font-size: 4rem;
    max-width: 586px;
  }

  .hero__description p {
    font-size: 1.5rem;
    max-width: 381px;
  }
}
